* 
{
	padding: 			0;
	margin: 			0;
	border: 			0;
}

body 
{
	background: 		#ffffff;
	font-family: 		"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow:			hidden;
}

#header
{
	text-align: 		center;
	text-decoration:	underline;
}

#content 
{
	width: 100%;
	height: 100%;
	visibility: hidden;
	position:absolute;
	margin:  0;
	cursor: hand;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
}

#content li.first 
{

}

#content li.middle {

}

#content li.last {

}

.nav 
{
	display: 			flex;
	list-style: 		none;
	padding-top:		0.4%;
	padding-bottom:		0.4%;
}

.nav li.active 
{
	background: 		#EDEDED;
	color: 				#2B5B7F;
}
.nav li:hover
{
	color:				#C5C5C5;
}

.nav li 
{
	width: 				20%;
	padding-top:		0.5%;
	padding-bottom:		0.5%;
	line-height:		22px;
	text-align: 		center;
	border-right: 		1px solid #DFDFDF;
	box-sizing: 		border-box;
	cursor: 			pointer;
	font-size:			1.24em;
}

.nav li:last-child 
{
	border: 0;
}

.home
{
	background: 		url(../img/bg_1.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}

.home .sub_content_widget iframe
{
	float:				left;
}
.recording
{
	background: 		url(../img/bg_2.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}
.mixing
{
	background: 		url(../img/bg_3.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}
.mastering
{
	background: 		url(../img/bg_4.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}
.history
{
	background: 		url(../img/bg_5.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}
.contact
{
	background: 		url(../img/bg_6.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}
.testaments
{
	background: 		url(../img/bg_7.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}
.guitar
{
	background: 		url(../img/bg_8.jpg);
	background-size: 	cover;
	background-repeat: 	no-repeat;
}

.intro
{
	float:				left;
	width:				9%;
	margin-top:			9%;
	margin-left:		4.9%;
	color:				white;
	font-size:			1.4em;
	margin-bottom:		9%;
}
.intro .row
{
	padding-bottom:		1.5%;
	margin-bottom: 		6%
}
.module_wrapper
{
	float:				right;
	width:				40%;
	padding:			4%;
}
.module
{
	flex-direction:		column;
}
.text
{
	padding:			2%;
	padding-right:		22%;
	padding-bottom:		3%;
	background-color:	white;
	opacity:			0.85;
}
.text h1
{
	padding-top: 		0%;
	margin-top: 		0%;
}
.text p
{
	font-size:			1.14em;
}
.contact_form
{

}
#email_contact_form input, textarea
{
	color:				#3A3131;
	box-shadow: 		inset 0 0 11px 1px #E9E9E9;
	font-size:			1.4em;
	padding:			1.5%;
	margin-bottom:		1.5%;
}
#email_contact_form input:focus
{
	outline:			none;
    box-shadow: 0 0 10px #719ECE;
}
#email_contact_form input[type="text"]
{
	border-radius:		3px;
	border:				1px solid;
	border-color:		#B9B9B9;
}

#email_message_field
{
	width:32.65%;
	border-radius:		3px;
	border:				1px solid;
	border-color:		#B9B9B9;
	font-size:			1.4em;
}
#email_contact_form input[type="button"]
{
	margin-top:			1.5%;
	width:				32.8%;
}


